<section
  fxFlex
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
<form calss="container" fxFlex>
  <mat-progress-spinner
    fxLayoutGap="40px"
    mode="determinate"
    [value]="progress"
  ></mat-progress-spinner>
  <h2>{{ progress }}%</h2>
  <p>You are week man, You should be better</p>
  <button mat-raised-button color="warn" *ngIf="!exCompleted" (click)="openStopDialog()">Stop</button>
  <button mat-raised-button color="warn" *ngIf="exCompleted" (click)="StopTraining()">Exit</button>
</form>
</section>
