<div
  class="welcome"
  fxFlex
  fxLayout="column"
  fxLayout.gt-sm="row"
  fxLayoutAlign="center center"
  fxLayoutGap='30px'
>
  <mat-card fxFlex fxFlex.gt-ms='500px' fxLayoutGap="10px">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>ACTIVITY</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Stay active and enjoy better health and more fun!</mat-card-content
    >
  </mat-card>

  <mat-card fxFlex fxFlex.gt-ms='500px' fxLayoutGap="10px">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>COMMUNITY</mat-card-title>
    </mat-card-header>
    <mat-card-content
      >Get to know other people who share your passion!</mat-card-content
    >
  </mat-card>

  <mat-card fxFlex fxFlex.gt-ms='500px' fxLayoutGap="30px">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>CHALLENGES</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Never stop! Dive into new challenges every day
    </mat-card-content>
  </mat-card>
</div>
